<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>url shortner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="css/url.css" >
    
</head>
<body>

    <!--Header -->
    <section id="Header">
        <nav class= "nav">
            <a href="sign-up.html">Registration</a>
            <a href="Login.html">Login</a>
        </nav>
    </section>


    <!--Input section -->
    <section id="InputSection">

        <div>
           
            <h1 >Free URL Shortener</h1>
        <h2>Create short & memorable link </h2>  
        
    </div>


        <form action="/shortenUrl" method="POST">
            <!--label for="urlinput"></label-->
            <div id="inpt">
                <input type="url" name="fullUrl" id="urlinput" class="urlbtn" autocomplete="off" placeholder="Enter link here">
                <button id="btn" class="urlbtn">Shorten URL</button >
            </div> 
        </form>
    </section>

   
    <!--Middle section-->
    <section id="middle">
   <div>
    <p>
            This is the perfect free URL shortener for transforming long, ugly links into nice, memorable and trackable 
            short URLs. Use it to shorten links for any social media platforms, blogs, SMS, emails, ads, or pretty 
            much anywhere else you want to share them. Twitter, Facebook, YouTube, LinkedIn, Instagram, WhatsApp, 
            emails, blogs, SMS, videos, advertisement.
    </p>
   </div>
    </section>

    
    <!--Footer-->
    <section>
 <footer>
     footer
 </footer>
    </section>

</body>
  
</html>

  