body{
    padding: 0;
    margin: 0;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#bodysection{
    padding: 10%;
    margin: 0px;
    background: #2d4059;
    
    
    font-family: Arial, Helvetica, sans-serif;
}
#inpt{
    text-align: center;
    position: relative;
    left: 10px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#urlinput{
    padding: 1.2%;
    margin: 20px;
    height: 25px;
    width: 500px;
    font-size:20px ;
}
#btn{
    
    margin: 20px;
    position: relative;
    right: 20px;
    height: 55px;
    width: 220px;
    border: none;
    color: white;
    background-color:#5eaaa8;
    font-size:20px ;

}
#originallink{
    padding-right: 0;
    color: black;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
h1{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#longshortdiv{
    border:1px solid black;
    background-color: white;
    padding: 15px;
    margin: 20px;
    height: 20%;
    width: 63%;
    position: relative;
    left:185px;
    font-size:20px ;
    
  }
  th, td{
   text-align: left;
   padding-left: 60px;
  }
  #copiedlink{
    border: none;
    background-color:#fbecec;
    font-size:20px

  }
  #originallink{
    padding-right: 0px;
  }
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#middlesection{
    padding: 120px;
    margin: 0px;
    background:#a3d2ca;
    font-family: Arial, Helvetica, sans-serif;

}
p{
    text-align: center;
    width: 85%;
    position: relative;
    left: 10%;
    color: #2d4059;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#footersection{

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    border: 2x #CBEAED solid;

    background-color:#EBEBEB;  
    height: 300%;
   
    font-family: Arial, Helvetica, sans-serif;
}
#copyright{
    padding: 0;
    text-decoration-style: none;
    background-position: right bottom;
  background-attachment: fixed;
}